@font-face {
    font-family: choco;
    src: url(fonts/Painting_With_Chocolate.ttf);
}
body{
  background-image: url("../img/foot_cube.gif");
}
h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}
.bg-light {
    background-color: #f1f7fc!important;
}
#directional-icons{
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  bottom: 50px;
}
#directional-icons .fa{
  display: block;
}
.container {
  //padding-top: 18px;
  padding-bottom: 18px;
  //padding: 18px 50px;
}
.content-section {
  padding-top: 3rem;padding-bottom: 2.5rem;
}
.modal-content {
    width: fit-content;}
.content-section-heading h2, .content-section h2{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
}

.masthead {
  //height: 300px;
  background-position-y: top;
  overflow: hidden;
  min-height: 27rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  }
#exercices{
  background-color: #ffffffdb;
}
#about .container {
    border: 2px dotted #1D809F;
    //border-top-style: solid;
    //border-bottom-style: solid;
}
.portfolio-item .caption {
  background-color: transparent;
}

.masthead h1 {
    color: white;
    font-family: choco;
}

.exercices-item .caption .caption-content p {
    font-size: 1rem;
}

.img-header-01{
    margin-top: 60px;
    height: 100px;
}

footer.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ml7 {
  position: relative;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  //padding-top: .65em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
  width: 100%;
  font-size: -webkit-xxx-large;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  transform: translateX(1.5em);
  transform: translateY(1.5em);
}

.overlayer{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1500;
  background-color: rgba(0, 0, 0, 0.11);
  height: 100%;
  display: none;
}

.overlayer .container{
  width: 60%;
  margin-top: 70px;
  max-height: 800px;
  min-height: 500px;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
}

.overlayer .container .btn {
    box-shadow: 0 0;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
}

.overlayer .container .btn span{
    font-weight: bold;}


@media (min-width: 1200px){
  .col{
    max-width: 20%;
  }
}

@media (min-width: 992px){
  .content-section-heading h2{
    line-height: 52px;  
  }
  .lead {
    padding-left: 50px;
    padding-right: 50px;
  }
  .portfolio-item .caption .caption-content {
    transition: opacity .25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    width: 100%;
  }
  .portfolio-item:hover .caption {
    background-color: rgba(29, 128, 159, 0.5);
  }
  #pop-Ups div, #pop-Ups2 div{
    padding-right: 0;
    padding-left: 0;
  }
  .exercices-item .caption .caption-content {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
  }
}

@media (max-width: 992px){
  .col{
    margin-bottom: 3rem !important;
  }
  .ml7 .text-wrapper {
  font-size: x-large;
  }
  .masthead {
    //height: 0;
    min-height: 15rem;
    padding-bottom: 1rem;
    padding-top: 6rem;
  }
  .masthead h1 {
    //font-size: 1.5rem;
    //padding-right: 20px !important;
    //margin-left: 20px;
  }
  #directional-icons{
    display: none;
  }
  .content-section{
    padding: 0 0 2.5rem 0;
  }
  .container {
    padding-right: 0;
    padding-left: 0;}
  .content-section-heading h2{
    margin-bottom: 2rem!important;
    border-top: 2px dotted ! important;
    border-bottom: 2px dotted ! important;
  }
  #about .container {
    border: 0;
  }
  .content-section .row{
    padding: 0 30px;
  }
  .content-section-heading h2, .content-section h2 {
    font-size: 1rem;
  }
  .lead {
    font-size: 1.20rem;
    margin: 0 55px;
    text-align: justify;
    line-height: 1.3rem;
  }
}

@media (max-width: 400px){
  
}